#pincode-input {
    border: none;
    background-color: #dad0e3;
    padding: 18px;
    margin-right: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(189, 167, 167, 0.1);
    width: 50%;
    font-size: 16px;
    font-weight: bold;
    padding-left: 40px;
    position: relative;
  }
  
  .pincode-input::before {
    content: "Pincode:";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 16px;
    font-weight: bold;
  }
  
  #submit-button {
    background-color: #212121;
    color: white;
    padding: 8px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    transition: background-color 0.3s ease;
  }
  
 