
.search-container {
    width: 600px;
    background: #FFFFFF;
    margin: 200px auto 0;
    border-radius: 30px;
    border-color: black;
  }

.row{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}  


.searchInpDiv{
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #FFFFFF;
    padding: 0 2px;
    padding-bottom: 10px;
    width: 100%;
}


input{
    flex: 1;
    padding: 2px 0;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #ffffff;
}

button{
    background: transparent;
    border: 0;
    outline: 0;
}

button .fa-solid{
    width: 25px;
    color: #ffffff;
    font-size: 22px;
    cursor: pointer;
}

::placeholder{
    color: #ffffffda;
}
 
.result-box ul{
    border-bottom: 1px solid #ffffff;
    padding: 15px 10px;
}
.result-box ul {
    list-style: none;;
    border-radius: 3px;
    padding: 15px 10px;
    transition: all ease-in-out .5s;
    cursor: pointer;
}

.result-box ul:hover{
    background: #ffffffa4;
    color:#000;
    font-weight: 600;
}